<ion-view cache-view="false" hide-nav-bar="true">
    <ion-content padding="'false'">
        <div style="text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);margin-bottom:-5px;" class="ciudad" ng-repeat="reg in propsxubicacion">
            <a href="#/page1/propiedad/{{reg.idprop}}"><img ng-src="img/props_hd/{{reg.idprop}}/{{reg.imagen}}"  style="height: auto; width: 100vw;margin-left: -10px;margin-top:-14px;"/></a>
            <div class="minpreciodiv">
              <span class="minprecio">{{reg.minprecio}} </span><span class="euro">€ night</span>
            </div>
            <p class="portadatitle">
              <img ng-src="img/favorits.png" class="button-fav" ng-click="addFavorite(reg)" ng-show="!isfavorite(reg.idprop)"/>
              <a href="#/page1/propiedad/{{reg.idprop}}" style="color: #565a5c;">{{reg.nameprop}}</a><br/><span style="font-size:12px;color: #899094;">{{reg.numhab}} bedrooms</span>
              <span ng-switch on="{{reg.estrellas}}">
                  <span ng-switch-when="1">
                    <img ng-src="img/estrella.png" style="width:12px;margin-left:3px;">
                  </span>
                  <span ng-switch-when="2">
                  <img ng-src="img/estrella.png" style="width:12px;margin-left:3px;"><img ng-src="img/estrella.png" style="width:12px;margin-left:3px;">
                  </span>
                  <span ng-switch-when="3">
                    <img ng-src="img/estrella.png" style="width:12px;margin-left:3px;"><img ng-src="img/estrella.png" style="width:12px;margin-left:3px;"><img ng-src="img/estrella.png" style="width:12px;margin-left:3px;">
                  </span>
                  <span ng-switch-when="4">
                    <img ng-src="img/estrella.png" style="width:12px;margin-left:3px;"><img ng-src="img/estrella.png" style="width:12px;margin-left:3px;"><img ng-src="img/estrella.png" style="width:12px;margin-left:3px;"><img ng-src="img/estrella.png" width="12px">
                  </span>
                  <span ng-switch-when="5">
                    <img ng-src="img/estrella.png" style="width:12px;margin-left:3px;"><img ng-src="img/estrella.png" style="width:12px;margin-left:3px;"><img ng-src="img/estrella.png" style="width:12px;margin-left:3px;"><img ng-src="img/estrella.png" style="width:12px;margin-left:3px;"><img ng-src="img/estrella.png" style="width:12px;margin-left:3px;">
                  </span>
                  <span ng-switch-default></span>
              </span>
            </p>
            <img ng-src="img/limit.jpg" style="height:1px;width: 100vw;margin-left: -10px;margin-top: -21px;"/>
        </div>
    </ion-content>
</ion-view>
